@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<section id="about" class="about">

    <div class="container aos-init aos-animate mt-5 mb-5" data-aos="fade-up">
        <div class="row">

            <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>Who We Are</h3>
                    <h2>Expedita voluptas omnis cupiditate totam eveniet nobis sint iste. Dolores est repellat corrupti reprehenderit.</h2>
                    <p>
                        Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et. Inventore et et dolor consequatur itaque ut voluptate sed et. Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
                    </p>
                    <div class="text-center text-lg-start">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                <!-- Form -->
                <form id="account" method="post">

                    <div class="mb-4">
                        <label class="form-label" for="signinSrEmail">Usuario</label>
                        <input type="email" class="form-control form-control-xl" name="email" id="signinSrEmail" tabindex="1" placeholder="email@birlik.com" aria-label="email@address.com" asp-for="Input.Email">
                        <span class="invalid-feedback">Please enter a valid email address.</span>
                    </div>

                    <div class="mb-4">
                        <label class="form-label w-100" for="signupSrPassword" tabindex="0">
                            <span class="d-flex justify-content-between align-items-center">
                                <span>Contraseña</span>
                                <a class="form-label-link mb-0" href="#">Olvidaste tu contraseña?</a>
                            </span>
                        </label>

                        <div class="input-group input-group-merge" data-hs-validation-validate-class>
                            <input type="password" class="js-toggle-password form-control form-control-xl" asp-for="Input.Password" name="password" id="signupSrPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8" data-hs-toggle-password-options='{
                                  "target": "#changePassTarget",
                                  "defaultClass": "bi-eye-slash",
                                  "showClass": "bi-eye",
                                  "classChangeTarget": "#changePassIcon"
                                    }'>
                            <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                                <i id="changePassIcon" class="bi-eye"></i>
                            </a>
                        </div>

                        <span class="invalid-feedback">Please enter a valid password.</span>
                    </div>

                    <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="termsCheckbox">
                        <label class="form-check-label" for="termsCheckbox">
                            Recuerdame
                        </label>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</section>




<!-- End Form -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
